@charset 'utf-8';
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
p,
html,
body {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
.main .header {
  height: 100px;
  font-size: 12px;
  border-bottom: 2px solid #ff6700;
  background-color: #fff;
  color: #b0b0b0;
  position: relative;
  z-index: 20;
}
.main .header .header-box {
  width: 1226px;
  margin: 0 auto;
  padding-top: 26px;
}
.main .header .header-box .left-img {
  width: 93px;
  height: 48px;
  float: left;
}
.main .header .header-box .left-img img {
  width: 48px;
  height: 48px;
}
.main .header .header-box .left-text {
  float: left;
  line-height: 20px;
}
.main .header .header-box .left-text h2 {
  width: 140px;
  height: 48px;
  line-height: 48px;
  font-size: 28px;
  float: left;
  font-weight: 400;
  color: black;
}
.main .header .header-box .left-text p {
  float: left;
  margin-top: 20px;
  margin-left: 15px;
  color: #757575;
}
.main .header .header-box .right {
  float: right;
}
.main .header .header-box .right .a1 {
  width: 110px;
  height: 40px;
  float: left;
  text-align: center;
  position: relative;
}
.main .header .header-box .right .a1:hover a {
  color: #ff6700;
}
.main .header .header-box .right .a1 a {
  color: #757575;
  display: block;
  line-height: 40px;
}
.main .header .header-box .right .a1 span {
  font-size: 20px;
  font-weight: 700;
}
.main .header .header-box .right .a1 .nav {
  position: absolute;
  top: 40px;
  left: 0;
  display: none;
}
.main .header .header-box .right .a1 .nav li {
  width: 110px;
  line-height: 40px;
  font-size: 12px;
  background-color: #fff;
  box-shadow: 5px 5px 5px #f9f9f9;
}
.main .header .header-box .right .a1 .nav li a {
  color: #333;
}
.main .header .header-box .right .a1 .nav li:hover {
  background-color: #b0b0b0;
}
.main .header .header-box .right .a1 .nav li:hover a {
  color: #ff6700;
}
.main .header .header-box .right .a1:hover .nav {
  display: block;
}
.main .header .header-box .right .a2 {
  width: 70px;
  height: 40px;
  float: right;
  text-align: center;
  line-height: 40px;
}
.main .header .header-box .right .a2 span {
  margin: 0 7px;
}
.main .header .header-box .right .a2 a {
  color: #757575;
}
.main .header .header-box .right .a2:hover a {
  color: #ff6700;
}
.main .page-main {
  background-color: #f5f5f5;
  padding: 40px 0;
}
.main .page-main .page-heart {
  width: 1226px;
  margin: 0 auto;
}
.main .page-main .page-heart .page-top .page-goods .list-head {
  height: 70px;
  padding-right: 26px;
  line-height: 70px;
  display: flex;
  font-size: 14px;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
}
.main .page-main .page-heart .page-top .page-goods .list-head .list-1 {
  width: 110px;
  text-align: center;
}
.main .page-main .page-heart .page-top .page-goods .list-head .list-1 span {
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin-left: 24px;
  margin-right: 20px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background-color: #ff6700;
}
.main .page-main .page-heart .page-top .page-goods .list-head .list-2 {
  width: 120px;
}
.main .page-main .page-heart .page-top .page-goods .list-head .list-2 img {
  width: 80px;
  height: 80px;
}
.main .page-main .page-heart .page-top .page-goods .list-head .list-3 {
  width: 380px;
}
.main .page-main .page-heart .page-top .page-goods .list-head .list-4 {
  width: 140px;
  text-align: center;
}
.main .page-main .page-heart .page-top .page-goods .list-head .list-5 {
  width: 150px;
  text-align: center;
  line-height: 30px;
  padding: 20px 0 30px;
}
.main .page-main .page-heart .page-top .page-goods .list-head .list-6 {
  width: 120px;
  text-align: right;
}
.main .page-main .page-heart .page-top .page-goods .list-head .list-7 {
  width: 80px;
  margin-left: 100px;
  position: relative;
  text-align: center;
}
.main .page-main .page-heart .page-top .page-goods .item-box {
  padding: 15px 26px 15px 0;
  background-color: #fff;
  border-bottom: 1px solid #b0b0b0;
}
.main .page-main .page-heart .page-top .page-goods .item-box .page-product {
  padding-right: 26px;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
}
.main .page-main .page-heart .page-top .page-goods .item-box .page-product .list-1 {
  width: 110px;
  line-height: 70px;
}
.main .page-main .page-heart .page-top .page-goods .item-box .page-product .list-1 span {
  display: inline-block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  margin-left: 30px;
  margin-right: 20px;
  font-size: 16px;
  text-align: center;
  color: #fff;
  background-color: #ff6700;
}
.main .page-main .page-heart .page-top .page-goods .item-box .page-product .list-2 {
  width: 120px;
}
.main .page-main .page-heart .page-top .page-goods .item-box .page-product .list-2 img {
  width: 80px;
  height: 80px;
}
.main .page-main .page-heart .page-top .page-goods .item-box .page-product .list-3 {
  width: 380px;
  line-height: 70px;
}
.main .page-main .page-heart .page-top .page-goods .item-box .page-product .list-4 {
  width: 140px;
  line-height: 70px;
  text-align: center;
}
.main .page-main .page-heart .page-top .page-goods .item-box .page-product .list-5 {
  width: 150px;
  text-align: center;
  padding: 20px 0 30px;
}
.main .page-main .page-heart .page-top .page-goods .item-box .page-product .list-5 .btn {
  width: 148px;
  height: 38px;
  border: 1px solid #e0e0e0;
}
.main .page-main .page-heart .page-top .page-goods .item-box .page-product .list-5 .btn a {
  display: block;
  float: left;
  width: 38px;
  height: 38px;
  font-size: 20px;
  line-height: 38px;
  transition: all 0.5s;
}
.main .page-main .page-heart .page-top .page-goods .item-box .page-product .list-5 .btn a:hover {
  background-color: #b0b0b0;
}
.main .page-main .page-heart .page-top .page-goods .item-box .page-product .list-5 .btn input {
  float: left;
  width: 70px;
  height: 36px;
  border: none;
  line-height: 38px;
  padding: 0;
  border-width: 0;
  color: #424242;
  font-size: 16px;
  text-align: center;
}
.main .page-main .page-heart .page-top .page-goods .item-box .page-product .list-6 {
  width: 120px;
  text-align: right;
  line-height: 70px;
}
.main .page-main .page-heart .page-top .page-goods .item-box .page-product .list-6 p {
  color: #ff6700;
}
.main .page-main .page-heart .page-top .page-goods .item-box .page-product .list-7 {
  width: 80px;
  margin-left: 74px;
  position: relative;
}
.main .page-main .page-heart .page-top .page-goods .item-box .page-product .list-7 a {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  right: 0px;
  line-height: 26px;
  font-size: 14px;
}
.main .page-main .page-heart .page-top .page-goods .item-box .page-product .list-7 a:hover {
  color: #fff;
  background-color: #e53959;
}
.main .page-main .page-heart .page-top .page-goods .item-box .extend {
  width: 1100px;
  height: 65px;
}
.main .page-main .page-heart .page-top .page-buy {
  width: 1226px;
  height: 50px;
  margin-top: 30px;
  background-color: #fafafa;
  position: sticky;
  bottom: 0px;
  right: 0px;
  left: 0px;
  box-shadow: 5px 5px 5px #f9f9f9;
}
.main .page-main .page-heart .page-top .page-buy .left {
  width: 285px;
  float: left;
  line-height: 50px;
  font-size: 14px;
}
.main .page-main .page-heart .page-top .page-buy .left a {
  color: #757575;
  margin-left: 20px;
}
.main .page-main .page-heart .page-top .page-buy .left .xian {
  color: #f9f9f9;
  margin-left: 16px;
  margin-right: 16px;
}
.main .page-main .page-heart .page-top .page-buy .left span {
  color: #757575;
}
.main .page-main .page-heart .page-top .page-buy .left span i {
  font-style: normal;
  color: red;
  margin: 0 5px;
}
.main .page-main .page-heart .page-top .page-buy .right {
  width: 400px;
  float: right;
}
.main .page-main .page-heart .page-top .page-buy .right .right-1 {
  width: 200px;
  color: #ff6700;
  float: left;
}
.main .page-main .page-heart .page-top .page-buy .right .right-1 span {
  font-size: 30px;
}
.main .page-main .page-heart .page-top .page-buy .right .right-2 {
  width: 200px;
  line-height: 50px;
  float: right;
  background-color: #ff6700;
  color: #fff;
  font-size: 18px;
  text-align: center;
}
footer .footer-top {
  width: 1226px;
  margin: 0 auto;
}
footer .footer-top .top {
  width: 1226px;
  height: 55px;
  padding-top: 30px;
  padding-bottom: 50px;
  border-bottom: 1px solid #ccc;
}
footer .footer-top .top ul {
  display: flex;
  justify-content: space-between;
}
footer .footer-top .top ul li {
  width: 25%;
  height: 25px;
  text-align: center;
}
footer .footer-top .top ul li .biao {
  color: #757575;
  font-size: 20px;
  line-height: 25px;
}
footer .footer-top .top ul li .text {
  font-size: 16px;
  color: #757575;
  line-height: 25px;
  padding-left: 10px;
}
footer .footer-top .top ul li span:hover {
  color: orange;
}
footer .footer-top .top ul .li-2 {
  border-left: 1px solid #ccc;
}
footer .footer-top .bot {
  width: 1226px;
  height: 170px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
footer .footer-top .bot div {
  width: 160px;
}
footer .footer-top .bot div .li-1 {
  font-size: 14px;
  margin-bottom: 25px;
}
footer .footer-top .bot div .li-1 a {
  color: #424242;
}
footer .footer-top .bot div .li-2 {
  font-size: 12px;
  margin-top: 10px;
}
footer .footer-top .bot div .li-2 a {
  color: #757575;
}
footer .footer-top .bot .right {
  width: 250px;
  text-align: center;
}
footer .footer-top .bot .right .p1 {
  font-size: 22px;
  color: #ff6700;
}
footer .footer-top .bot .right .p2 {
  font-size: 12px;
  color: #616161;
}
footer .footer-top .bot .right .kefu {
  display: block;
  margin: 5px auto;
  width: 118px;
  height: 28px;
  border: 1px solid #ff6700;
}
footer .footer-top .bot .right .kefu span {
  color: #ff6700;
  font-size: 14px;
  line-height: 28px;
}
footer .footer-top .bot .right .kefu:hover {
  background-color: #ff6700;
}
footer .footer-top .bot .right .kefu:hover span {
  color: #fff;
}
footer .footer-top .bot .right .lianxi {
  font-size: 12px;
  color: #616161;
  margin: 10px auto;
  position: relative;
}
footer .footer-top .bot .right .lianxi .weibo {
  padding-left: 24px;
  padding-top: 4px;
  background: url(../images/wb.png) no-repeat 0 -1px;
  background-size: cover;
}
footer .footer-top .bot .right .lianxi .weibo:hover {
  background: url(../images/wb@2x.png) no-repeat 0 -1px;
  background-size: cover;
}
footer .footer-top .bot .right .lianxi .weixin {
  padding-left: 24px;
  padding-top: 4px;
  background: url(../images/wx.png) no-repeat 0 -1px;
  background-size: cover;
}
footer .footer-top .bot .right .lianxi .wx {
  width: 126px;
  height: 126px;
  position: absolute;
  top: 20px;
  right: -25px;
  display: none;
}
footer .footer-top .bot .right .lianxi .weixin:hover {
  background: url(../images/wx@2x.png) no-repeat 0 -1px;
  background-size: cover;
}
footer .footer-top .bot .right .lianxi .weixin:hover .wx {
  display: block;
}
footer .bottom {
  background-color: #fafafa;
  padding-bottom: 30px;
  margin: 0;
}
footer .bottom .on {
  width: 1226px;
  margin: 0 auto;
  padding: 30px 0;
}
footer .bottom .on .logo {
  width: 56px;
  height: 56px;
  background: url(../images/logo-mi2.png) no-repeat 0 0;
  background-size: 56px;
  margin-right: 10px;
  float: left;
}
footer .bottom .on .p {
  margin-left: 66px;
}
footer .bottom .on .p .p1 {
  width: 1159px;
  font-size: 12px;
  line-height: 18px;
}
footer .bottom .on .p .p1 a {
  color: #757575;
}
footer .bottom .on .p .p1 span {
  padding: 0 5px;
}
footer .bottom .on .p .p2 {
  font-size: 12px;
  color: #b0b0b0;
}
footer .bottom .on .p .p2 a {
  color: #b0b0b0;
}
footer .bottom .on .p .p2 a:hover {
  color: #ff6700;
}
footer .bottom .on .img {
  padding-left: 66px;
}
footer .bottom .on .img img {
  width: 83px;
  height: 28px;
}
footer .bottom .down {
  height: 20px;
  background: url(../images/slogan2020.png) no-repeat center center;
}
.right-nav {
  position: fixed;
  bottom: 80px;
  right: 0;
  z-index: 11;
}
.right-nav a {
  display: block;
  width: 82px;
  height: 90px;
  margin-top: -1px;
  background-color: #fff;
  border: 1px solid #f5f5f5;
  text-align: center;
  position: relative;
}
.right-nav a .img {
  width: 30px;
  height: 30px;
  margin: 18px auto 8px;
  transition: opacity 0.3s;
  position: relative;
}
.right-nav a .img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.right-nav a .img .img-2 {
  display: none;
}
.right-nav a span {
  color: #757575;
  transition: color 0.3s;
}
.right-nav a:hover span {
  color: #ff6700;
}
.right-nav a:hover .img-2 {
  display: block;
}
.right-nav .last-child {
  margin-top: 10px;
}
